<a href="https://colab.research.google.com/github/vishvas-chauhan/First_Repository/blob/master/bq_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [9]:
%%bigquery --project paris-air-quality-321222 df
SELECT * FROM `bigquery-public-data`.new_york_citibike.INFORMATION_SCHEMA.COLUMNS

In [11]:
df.head()

          table_catalog  ... clustering_ordinal_position
0  bigquery-public-data  ...                        None
1  bigquery-public-data  ...                        None
2  bigquery-public-data  ...                        None
3  bigquery-public-data  ...                        None
4  bigquery-public-data  ...                        None

[5 rows x 15 columns]

In [35]:
result = df.groupby("table_name").column_name.apply(list).to_dict()

In [15]:
all_tables = sorted(list(result.keys()))
all_tables

['citibike_stations', 'citibike_trips']

In [67]:
result

{'citibike_stations': ['station_id',
  'name',
  'short_name',
  'latitude',
  'longitude',
  'region_id',
  'rental_methods',
  'capacity',
  'eightd_has_key_dispenser',
  'num_bikes_available',
  'num_bikes_disabled',
  'num_docks_available',
  'num_docks_disabled',
  'is_installed',
  'is_renting',
  'is_returning',
  'eightd_has_available_keys',
  'last_reported'],
 'citibike_trips': ['tripduration',
  'starttime',
  'stoptime',
  'start_station_id',
  'start_station_name',
  'start_station_latitude',
  'start_station_longitude',
  'end_station_id',
  'end_station_name',
  'end_station_latitude',
  'end_station_longitude',
  'bikeid',
  'usertype',
  'birth_year',
  'gender',
  'customer_plan']}

In [28]:
[k for k,v in result.items() if 'station_id' in v]

['citibike_stations']

In [38]:
[v for k,v in result.items() for i in result.values() if v==i]

[['station_id',
  'name',
  'short_name',
  'latitude',
  'longitude',
  'region_id',
  'rental_methods',
  'capacity',
  'eightd_has_key_dispenser',
  'num_bikes_available',
  'num_bikes_disabled',
  'num_docks_available',
  'num_docks_disabled',
  'is_installed',
  'is_renting',
  'is_returning',
  'eightd_has_available_keys',
  'last_reported'],
 ['tripduration',
  'starttime',
  'stoptime',
  'start_station_id',
  'start_station_name',
  'start_station_latitude',
  'start_station_longitude',
  'end_station_id',
  'end_station_name',
  'end_station_latitude',
  'end_station_longitude',
  'bikeid',
  'usertype',
  'birth_year',
  'gender',
  'customer_plan']]

In [40]:
l =[]
for table, columns in result.items():
  for item in result.values():
     if item in result.values()==columns in result.items():
       l.append(items)

In [41]:
l

[]

In [52]:
%%bigquery --project paris-air-quality-321222 df2
SELECT * FROM `bigquery-public-data`.new_york_citibike.INFORMATION_SCHEMA.COLUMNS where table_name ='citibike_stations'

In [53]:
%%bigquery --project paris-air-quality-321222 df3
SELECT * FROM `bigquery-public-data`.new_york_citibike.INFORMATION_SCHEMA.COLUMNS where table_name ='citibike_trips'

In [54]:
[x for x in list(df2.column_name) if x in list(df3.column_name)] #list(df2.column_name)

[]

In [59]:
list(df2.column_name)

['station_id',
 'name',
 'short_name',
 'latitude',
 'longitude',
 'region_id',
 'rental_methods',
 'capacity',
 'eightd_has_key_dispenser',
 'num_bikes_available',
 'num_bikes_disabled',
 'num_docks_available',
 'num_docks_disabled',
 'is_installed',
 'is_renting',
 'is_returning',
 'eightd_has_available_keys',
 'last_reported']

In [58]:
list(df3.column_name)

['tripduration',
 'starttime',
 'stoptime',
 'start_station_id',
 'start_station_name',
 'start_station_latitude',
 'start_station_longitude',
 'end_station_id',
 'end_station_name',
 'end_station_latitude',
 'end_station_longitude',
 'bikeid',
 'usertype',
 'birth_year',
 'gender',
 'customer_plan']

In [63]:
test_dict1 = { "Key1" : [1, 3, 4], "key2" : [4, 5] }
test_dict2 = { "Key1" : {1, 3, 4}, "key2" : {4, 5} }

In [64]:
#matching columns
set.intersection(*test_dict2.values())

{4}

In [66]:
l =[]
for table, columns in test_dict1.items():
  for item in test_dict1.values():
     if item in test_dict1.values()==columns in test_dict1.items():
       l.append(items)
l

[]