<a href="https://colab.research.google.com/github/vishvas-chauhan/First_Repository/blob/master/mysql_to_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#mysql connections
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-cp37-cp37m-manylinux1_x86_64.whl (30.9 MB)
     |████████████████████████████████| 30.9 MB 84 kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.26

In [3]:
#@title sql conn
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

class JskDB:
    """
    Example of SQL connection class
    """
    
    def __init__(self):
        # MySQL database credentials 
        self.host = 'jellybas.cxvglcwgczps.us-west-2.rds.amazonaws.com'
        self.port = 3306
        self.user = 'da_ro' 
        self.password = 'UXDcu5ULheGEYJWF78Zy'
        self.db = 'da2'

    def create_connection(self):
        """Initialize MySQL connection"""
        engine = create_engine(f"mysql+mysqlconnector://{self.user}:{self.password}@{self.host}:{self.port}/{self.db}?charset=utf8",echo=False).connect()

        try:
            print(engine)
            return engine
        except Exception as e:
            print(e)


# How to use 
def my_function():
    """
    open a MySQL connection, run your code and close the connection
    """

    # open connection
    sql_connection = JskDB().create_connection()
    
    # My code to do something in MySQL Database
    
    # close connection
    sql_connection.close()

In [20]:
sql_connection = JskDB().create_connection()

<sqlalchemy.engine.base.Connection object at 0x7f5c0e467ed0>

In [46]:
sql_connection.execute("SHOW TABLES").fetchall()

[('snap_audience',), ('snap_behavior',), ('snap_channels',), ('snap_stories',)]

In [73]:
sql1 ="select * from snap_channels"
sql2 ="select * from snap_audience"
sql3 ="select * from snap_behavior"
sql4 ="select * from snap_stories"

In [74]:
import pandas as pd
df_channel = pd.read_sql(sql1, sql_connection)
df_channel = pd.read_sql(sql2, sql_connection)
df_channel = pd.read_sql(sql3, sql_connection)
df_channel = pd.read_sql(sql4, sql_connection)

In [72]:
df_channel

       channel_fbid           channel_name
0  5099640474828800         Riddle Me This
1  5109890280062976             Beauty Wow
2  5132076604719104           Beauty Hacks
3  5171177986981888  Accuse moi si tu peux

In [ ]:
try:
   cursor = cnx.cursor()
   cursor.execute("""
      select 3 from your_table
   """)
   result = cursor.fetchall()
   print result
finally:
    cnx.close()