<a href="https://colab.research.google.com/github/vishvas-chauhan/First_Repository/blob/master/nomen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##AUTHENTICATE THE ACCOUNT

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
 
import gspread
import gspread_dataframe as gd
from google.colab import auth
auth.authenticate_user()
 
import gspread
from oauth2client.client import GoogleCredentials
 
gc = gspread.authorize(GoogleCredentials.get_application_default())

## first part

In [ ]:
Sheet40 = gc.open("FW21 Nomenclatures Main").worksheet("FW21 Nomenclatures MAIN")
df_Sheet40 = gd.get_as_dataframe(Sheet40)
Fw21_m = gc.open("Inventry_update_production").worksheet("Fw21_m")
df_i_Fw21_m = gd.get_as_dataframe(Fw21_m)
FW21Main_prm = gc.open("Inventry_update_production").worksheet("FW21Main_prm")
df_FW21Main_prm = gd.get_as_dataframe(FW21Main_prm)
 
FW21sp_prm = gc.open("Inventry_update_production").worksheet("FW21sp_prm")
df_FW21sp_prm = gd.get_as_dataframe(FW21sp_prm)
 
dispatch_fw21Main = gc.open("Inventry_update_production").worksheet("dispatch_fw21Main")
df_dispatch_fw21Main = gd.get_as_dataframe(dispatch_fw21Main)
#####################
 
FPOM_FW21Main = gc.open("Inventry_update_production").worksheet("FPOM_FW21Main")
df_FPOM_FW21Main = gd.get_as_dataframe(FPOM_FW21Main)
 
FPOM_FW21sp = gc.open("Inventry_update_production").worksheet("FPOM_FW21sp")
df_FPOM_FW21sp = gd.get_as_dataframe(FPOM_FW21sp)

production = gc.open("New_production_full").worksheet("Report")
dfp = gd.get_as_dataframe(production)

In [ ]:
rmchange = gc.open("New_production_full").worksheet("RMchange")
rmchange = gd.get_as_dataframe(rmchange)

In [ ]:
rmchange=rmchange[['Season','RM ID','Total Rating']].dropna(axis=0)

In [ ]:
from google.colab import files

In [ ]:
rmchange.to_csv('rmchangelastweek.csv',index=False) 
files.download('rmchangelastweek.csv')

In [ ]:
selected_col=['RM ID','Season','Material Category','Supplier Name','Colour','Cost','Opening','Combined Required','Production Required','Purchase Order','Received','Dispatched Out','Projected']
select_col2=['RM ID','Season','Dispatch Number','Date','To','Cost (EUR)','Dispatch Quantity','Colour','Type']
select_col3=['Product ID','Style','Colour','Material Type','RM ID','Total Rating','Product SO Quantity','Total Cost (EUR)','Season','RM Colour','Manufacturer','Width Size','Supplier','Supplier Country','Product Category 2',
             'Product Category 3','Product Category 4','Product Category 5','Fabric','Unit Cost (EUR)','Material Category','Rating',]

#remove "rating" if wanna see history report             
select_col4=['RM ID','Supplier Category','Book In Status','Actual Unit Cost','Received Quantity','Pending Quantity','PO Quantity','Supplier Country','Confirmed Date','PO Number','Season','Colour','Supplier','Date']

In [ ]:
#df_i_ss21fs=df_i_ss21fs[selected_col]
#df_i_ss21ss=df_i_ss21ss[selected_col]
#df_i_ss21sp=df_i_ss21sp[selected_col]
df_i_Fw21_m=df_i_Fw21_m[selected_col]

#df_fs=df_fs[select_col3]
#df_ss =df_ss[select_col3]
#df_sp=df_sp[select_col3]

#df_Fw20p_prm=df_Fw20p_prm[select_col3]
#df_Fw20m_prm =df_Fw20m_prm[select_col3]
#df_Fw20sp_prm=df_Fw20sp_prm[select_col3]

#df_ss20p_prm=df_ss20p_prm[select_col3]
#df_ss20m_prm =df_ss20m_prm[select_col3]
#df_ss20sp_prm=df_ss20sp_prm[select_col3]

df_FW21Main_prm=df_FW21Main_prm[select_col3]
df_FW21sp_prm=df_FW21sp_prm[select_col3]


#df_FPOM_ss21fs=df_FPOM_ss21fs[select_col4]
#df_FPOM_ss21sp=df_FPOM_ss21sp[select_col4]
#df_FPOM_ss21ss=df_FPOM_ss21ss[select_col4]
df_FPOM_FW21Main=df_FPOM_FW21Main[select_col4]
df_FPOM_FW21sp=df_FPOM_FW21sp[select_col4]
#df_ss20pmn =df_ss20pmn[select_col2]
#df_ss20spmn=df_ss20spmn[select_col2]
#df_ss20ss=df_ss20ss[select_col2]
df_dispatch_fw21Main=df_dispatch_fw21Main[select_col2]

In [ ]:
#frame=[df_i_ss21fs,df_i_ss21ss,df_i_ss21sp,df_i_Fw21_m]
frame=[df_i_Fw21_m]
#frame2=[df_ss20pmn, df_ss20spmn, df_ss20ss,df_dispatch_fw21Main]
frame2=[df_dispatch_fw21Main]

#frame3= [df_fs, df_sp, df_ss, df_Fw20p_prm, df_Fw20m_prm, df_Fw20sp_prm, df_ss20p_prm, df_ss20m_prm, df_ss20sp_prm, df_FW21Main_prm ]
frame3= [df_FW21Main_prm]

#frame4=[df_FPOM_ss21fs,df_FPOM_ss21sp,df_FPOM_ss21ss,df_FPOM_FW21Main]
frame4=[df_FPOM_FW21Main]

In [ ]:
result=pd.concat(frame,ignore_index=True)
result2=pd.concat(frame2,ignore_index=True)
result3=pd.concat(frame3,ignore_index=True)
result4=pd.concat(frame4,ignore_index=True)

In [ ]:
result=result.dropna(axis=0,how='all')
result2=result2.dropna(axis=0,how='all')
result3=result3.dropna(axis=0,how='all')
result4=result4.dropna(axis=0,how='all')

In [ ]:
result3['Product ID']= result3['Product ID'].apply(lambda x:x.replace(' ', ''))

In [ ]:
df_totalpo= result4[['RM ID','Book In Status','PO Number','Supplier','Season']]
df_totalpo=df_totalpo.drop_duplicates()
result2.rename(columns={'To': 'Manufacturer'}, inplace=True)
result2['Cost (EUR)']=result2['Cost (EUR)'].apply(pd.to_numeric, errors='coerce')
result2['Dispatch Quantity']=result2['Dispatch Quantity'].apply(pd.to_numeric, errors='coerce')
result2['Total Cost (EUR)']=result2['Cost (EUR)']*result2['Dispatch Quantity']
result3['Cost (EUR)']=result3['Unit Cost (EUR)']
result4['Total Cost (EUR)']=result4['Actual Unit Cost']*result4['PO Quantity']
result4['Cost (EUR)']=result4['Actual Unit Cost']
result['RM ID']=result['RM ID'].apply(lambda x:x.replace(' ', ''))
result2['RM ID']=result2['RM ID'].apply(lambda x:x.replace(' ', ''))
result3['RM ID']=result3['RM ID'].apply(lambda x:x.replace(' ', ''))
result4['RM ID']=result4['RM ID'].apply(lambda x:x.replace(' ', ''))

In [ ]:
result2.columns,result3.columns,result4.columns,result.columns

(Index(['RM ID', 'Season', 'Dispatch Number', 'Date', 'Manufacturer',
        'Cost (EUR)', 'Dispatch Quantity', 'Colour', 'Type',
        'Total Cost (EUR)'],
       dtype='object'),
 Index(['Product ID', 'Style', 'Colour', 'Material Type', 'RM ID',
        'Total Rating', 'Product SO Quantity', 'Total Cost (EUR)', 'Season',
        'RM Colour', 'Manufacturer', 'Width Size', 'Supplier',
        'Supplier Country', 'Product Category 2', 'Product Category 3',
        'Product Category 4', 'Product Category 5', 'Fabric', 'Unit Cost (EUR)',
        'Material Category', 'Rating', 'Cost (EUR)'],
       dtype='object'),
 Index(['RM ID', 'Supplier Category', 'Book In Status', 'Actual Unit Cost',
        'Received Quantity', 'Pending Quantity', 'PO Quantity',
        'Supplier Country', 'Confirmed Date', 'PO Number', 'Season', 'Colour',
        'Supplier', 'Date', 'Total Cost (EUR)', 'Cost (EUR)'],
       dtype='object'),
 Index(['RM ID', 'Season', 'Material Category', 'Supplier Name', 'Colour',
        'Cost', 'Opening', 'Combined Required', 'Production Required',
        'Purchase Order', 'Received', 'Dispatched Out', 'Projected'],
       dtype='object'))

In [ ]:
result['Wrong Dispatch Y/N']=np.where((result['Production Required']==0) & (result['Dispatched Out']!=0), 'Yes','No')
result['Wrong Purchase Y/N']=np.where((result['Production Required']==0) & (result['Purchase Order']!=0), 'Yes','No')

In [ ]:
result['Wrong Dispatch Y/N'].value_counts()

No    1433
Name: Wrong Dispatch Y/N, dtype: int64

In [ ]:
result['Wrong Purchase Y/N'].value_counts()

No     1430
Yes       3
Name: Wrong Purchase Y/N, dtype: int64

In [ ]:
result['Total Dispatch Cost']= result['Dispatched Out']* result['Cost']
result['Total RM Required Cost']= result['Combined Required']*result['Cost']
result['Total Production Req Cost']= result['Production Required']*result['Cost']
result['Total Purchase Order Cost']= result['Purchase Order']*result['Cost']
result['Total Opening Cost']= result['Opening']*result['Cost']

In [ ]:
result['Proje']=result['Opening']+result['Purchase Order']-result['Production Required']

In [ ]:
result['Next Season Opening Cost']= result['Proje']*result['Cost']

In [ ]:
RM_qty_required= result3.groupby(['RM ID', 'Season'])['Total Rating'].sum().sort_values(ascending=False).reset_index()
RM_qty_dispatched= result2.groupby(['RM ID', 'Season'])['Dispatch Quantity'].sum().sort_values(ascending=False).reset_index()

In [ ]:
RM_qty_required['Margin Rating']=RM_qty_required['Total Rating']*1.05
Dispatched_not_required= RM_qty_required.merge(RM_qty_dispatched, on=['RM ID','Season'], how='right')
Dispatched_not_required.fillna(0,inplace=True)
Dispatched_not_required['Wrong Dispatch Y/N']=np.where((Dispatched_not_required['Total Rating']==0) & (Dispatched_not_required['Dispatch Quantity']!=0), 'Yes','No')

In [ ]:
result['Required But Not Dispatched']= np.where((result['Production Required']!=0) & (result['Dispatched Out']==0), 'Yes','No')
result['Dispatch margin']= result['Production Required']*1.05

#d_c= [(result['Dispatched Out'] > result['Dispatch margin']==True)]
result['Dispatch > 5%']= np.where((result['Dispatched Out'] > result['Dispatch margin']) &((result['Dispatched Out'] - result['Production Required'])>= 10),"Yes","No")
result['Disp%']=result['Dispatched Out']/result['Production Required']*100
result['Disp%']=result['Disp%'].round(2)
result['Disp%']=result['Disp%'].fillna(0)

In [ ]:
from google.colab import files
result['ok dispatch']= np.where(result['Dispatched Out']>result['Production Required'],'OK Dispatch',
                                np.where(result['Dispatched Out']==0.0,'Not Dispatched','Partial Dispatch'))

In [ ]:
result['Combined Required']=result['Production Required']-result['Opening']
result2['Date']=pd.to_datetime(result2['Date'])
result2=result2[result2['Dispatch Quantity']!=0]
result2=result2[result2['Dispatch Quantity'].isnull()==False]
result2.shape

(929, 10)

In [ ]:
result2['Month Date']=result2['Date'].apply(lambda x:x.strftime('%Y-%m-%d'))
df_disptach= result2[['Month Date','Manufacturer', 'Type']]
df_disptach['Type']= df_disptach['Type'].apply(lambda x:x.split(' ')[0])
df_disptach= df_disptach.drop_duplicates()

df_disptach['count dispatch']=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
result2.columns,result3.columns

(Index(['RM ID', 'Season', 'Dispatch Number', 'Date', 'Manufacturer',
        'Cost (EUR)', 'Dispatch Quantity', 'Colour', 'Type', 'Total Cost (EUR)',
        'Month Date'],
       dtype='object'),
 Index(['Product ID', 'Style', 'Colour', 'Material Type', 'RM ID',
        'Total Rating', 'Product SO Quantity', 'Total Cost (EUR)', 'Season',
        'RM Colour', 'Manufacturer', 'Width Size', 'Supplier',
        'Supplier Country', 'Product Category 2', 'Product Category 3',
        'Product Category 4', 'Product Category 5', 'Fabric', 'Unit Cost (EUR)',
        'Material Category', 'Rating', 'Cost (EUR)'],
       dtype='object'))

In [ ]:
result3['Total RM cost']=result3['Total Rating'] * result3['Unit Cost (EUR)']

In [ ]:
df_mrq =result3.groupby(['Manufacturer'])['Total Rating'].sum().reset_index()

In [ ]:
df_mdq =result2.groupby(['Manufacturer'])['Dispatch Quantity'].sum().reset_index()

In [ ]:
df_md =result2.groupby(['Manufacturer'])['Total Cost (EUR)'].sum().reset_index()

In [ ]:
df_md.rename(columns= {'Total Cost (EUR)':'Total RM Dispatch Cost (EUR)'},inplace=True)

In [ ]:
df_mr =result3.groupby(['Manufacturer'])['Total Cost (EUR)'].sum().reset_index()

In [ ]:
#df_mr=dfp[dfp['Season']=='FW21 // MAIN']

In [ ]:
#df_mr =df_m.groupby(['Manufacturer'])['Total RM Cost (EUR)'].sum().reset_index()

In [ ]:
df_mr.rename(columns= {'Total Cost (EUR)':'Total RM Requirement Cost (EUR)'},inplace=True)

In [ ]:
df_mr.head(),df_md.head()

(      Manufacturer  Total RM Requirement Cost (EUR)
 0      AGNELLE SAS                        5009.6120
 1           ARAUJO                       13479.2392
 2  ASTIKA SUPRAPTO                         231.0420
 3   ATELIER BOIVIN                         515.6370
 4            BA 83                       13721.1805,
       Manufacturer  Total RM Dispatch Cost (EUR)
 0      AGNELLE SAS                       2631.53
 1           ARAUJO                      10730.38
 2  ASTIKA SUPRAPTO                        236.90
 3   ATELIER BOIVIN                        571.71
 4            BA 83                      14941.02)

In [ ]:
len(df_mr),len(df_md)

(38, 33)

In [ ]:
df_mr=df_mr.merge(df_md,how='left',on='Manufacturer')

In [ ]:
df_mr=df_mr[df_mr['Total RM Dispatch Cost (EUR)']>df_mr['Total RM Requirement Cost (EUR)']]

In [ ]:
df_mr

                           Manufacturer  ...  Total RM Dispatch Cost (EUR)
2                       ASTIKA SUPRAPTO  ...                       236.900
3                        ATELIER BOIVIN  ...                       571.710
4                                 BA 83  ...                     14941.020
7                              BELCINTO  ...                      6094.370
8                            BERAME SAS  ...                      5014.095
9                 CALZATURIFICIO STELLA  ...                      8007.100
18                       JADE JEWELLERY  ...                      4301.420
19                            LARIOSETA  ...                       513.300
22                 LIVIAN BULGARIA EOOD  ...                      1484.060
23                             LUXOCONF  ...                     16049.790
27                                 MIVA  ...                     21116.180
30                       PETROV TEXTILE  ...                     49176.830
32                        ROSPERLEATHER  ...                     14769.410
33                            SARL STEF  ...                     10277.500
34    T2FS &#X2013; GLOBAL KNITWEAR LDA  ...                       967.350
35  VIA TEKSTIL SAN.TIC.LTD.&#X015E;TI.  ...                     27725.190

[16 rows x 3 columns]

#audredysheet

In [ ]:
df_Sheet40.columns=df_Sheet40.iloc[1]

In [ ]:
df_Sheet40=df_Sheet40.iloc[2:]

In [ ]:
df=df_Sheet40[['Style','Qty status']]

In [ ]:
df.head(2)

1      Style   Qty status
2  C042FW21M  Quantity OK
3  C042FW21M  Quantity OK

In [ ]:
df=df.groupby(['Style','Qty status'])['Qty status'].count().rename("weightage")

In [ ]:
df

Style       Qty status
A003ICONW   Quantity OK        20
A004FW21W   Quantity OK        16
            RM not sent yet     2
A004ICONW   Quantity OK        18
A005FW21XU  Quantity OK        12
                               ..
UW012ICONW  RM not sent yet     1
UW023ICONW  Quantity OK         6
            RM not sent yet     1
UW024ICONW  Quantity OK        31
UW030ICONM  Quantity OK        20
Name: weightage, Length: 267, dtype: int64

In [ ]:
df=df / df.groupby(level=0).sum()

In [ ]:
df

Style       Qty status
A003ICONW   Quantity OK        1.000000
A004FW21W   Quantity OK        0.888889
            RM not sent yet    0.111111
A004ICONW   Quantity OK        1.000000
A005FW21XU  Quantity OK        1.000000
                                 ...
UW012ICONW  RM not sent yet    0.125000
UW023ICONW  Quantity OK        0.857143
            RM not sent yet    0.142857
UW024ICONW  Quantity OK        1.000000
UW030ICONM  Quantity OK        1.000000
Name: weightage, Length: 267, dtype: float64

In [ ]:
df=df.reset_index()

In [ ]:
df.head(5)

        Style       Qty status  weightage
0   A003ICONW      Quantity OK   1.000000
1   A004FW21W      Quantity OK   0.888889
2   A004FW21W  RM not sent yet   0.111111
3   A004ICONW      Quantity OK   1.000000
4  A005FW21XU      Quantity OK   1.000000

In [ ]:
df=df[df['Qty status']=='Quantity OK']

In [ ]:
df['>100% Sent']=np.where(df['weightage']>=1.0, 'yes', 'no')
df['>80% Sent']=np.where(df['weightage']>=0.80, 'yes', 'no')

In [ ]:
df['>80% Sent'].value_counts()

yes    147
no      21
Name: >80% Sent, dtype: int64

In [ ]:
df.weightage.isnull().count()

168

## nom2

In [ ]:
df2=df_Sheet40[['Style','RM ID','Qty status']]

In [ ]:
df2['new'] = np.where(df2['RM ID'].str.startswith('F'),'Fabric',
                      np.where(df2['RM ID'].str.startswith('TR'), 'Fabric',
                       
                      np.where(df2['RM ID'].str.startswith('P'), 'Packaging', 
                                                                          np.where(df2['RM ID'].str.startswith('T'), 'Trims',
                                                                                   np.where(df2['RM ID'].str.startswith('L'), 'Labeling',0)))))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2=df2[['Style','Qty status','new']]

In [ ]:
df3=df2[df2['new']=='Fabric']

In [ ]:
df3=df3.groupby(['Style','new','Qty status'])['Qty status'].count().rename("weightage")

In [ ]:
df3.head(5)

Style       new     Qty status
A003ICONW   Fabric  Quantity OK        2
A004FW21W   Fabric  RM not sent yet    2
A004ICONW   Fabric  Quantity OK        2
A005FW21XU  Fabric  Quantity OK        3
A008FW21X   Fabric  Quantity OK        1
Name: weightage, dtype: int64

In [ ]:
df3 =df3 / df3.groupby(level=0).sum()

In [ ]:
df3

Style       new     Qty status
A003ICONW   Fabric  Quantity OK        1.0
A004FW21W   Fabric  RM not sent yet    1.0
A004ICONW   Fabric  Quantity OK        1.0
A005FW21XU  Fabric  Quantity OK        1.0
A008FW21X   Fabric  Quantity OK        1.0
                                      ...
UW006ICONM  Fabric  Quantity OK        1.0
UW009ICONW  Fabric  Quantity OK        1.0
UW010ICONW  Fabric  Quantity OK        1.0
UW024ICONW  Fabric  Quantity OK        1.0
UW030ICONM  Fabric  Quantity OK        1.0
Name: weightage, Length: 183, dtype: float64

In [ ]:
df3=df3.reset_index()

In [ ]:
df3=df3[df3['Qty status']=='Quantity OK']

In [ ]:
df3['fabricdone']=np.where(df3['weightage']==1,'yes','no')

In [ ]:
df4=df2[df2['new']=='Trims']

In [ ]:
df4=df4.groupby(['Style','new','Qty status'])['Qty status'].count().rename("weightage")

In [ ]:
df4.head(5)

Style       new    Qty status
A003ICONW   Trims  Quantity OK    2
A005FW21XU  Trims  Quantity OK    1
A012FW21W   Trims  Quantity OK    4
A023ICONX   Trims  Quantity OK    2
A024FW21WU  Trims  Quantity OK    1
Name: weightage, dtype: int64

In [ ]:
df4 =df4 / df4.groupby(level=0).sum()

In [ ]:
df4

Style       new    Qty status
A003ICONW   Trims  Quantity OK    1.0
A005FW21XU  Trims  Quantity OK    1.0
A012FW21W   Trims  Quantity OK    1.0
A023ICONX   Trims  Quantity OK    1.0
A024FW21WU  Trims  Quantity OK    1.0
                                 ...
T226FW21XU  Trims  Quantity OK    1.0
T230FW21M   Trims  Quantity OK    1.0
UW005ICONW  Trims  Quantity OK    1.0
UW012ICONW  Trims  Quantity OK    1.0
UW024ICONW  Trims  Quantity OK    1.0
Name: weightage, Length: 143, dtype: float64

In [ ]:
df4=df4.reset_index()

In [ ]:
df4=df4[df4['Qty status']=='Quantity OK']

In [ ]:
df4['trimsdone']=np.where(df4['weightage']==1,'yes','no')

In [ ]:
first = gc.open("FW21 Nomenclatures Main").worksheet("60percent")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
#range_of_cells = Concateall.range('A1:AF200')
first.clear()
gd.set_with_dataframe(first, df)

second = gc.open("FW21 Nomenclatures Main").worksheet("fabricdone")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
second.clear()
gd.set_with_dataframe(second, df3)

third = gc.open("FW21 Nomenclatures Main").worksheet("trimsdone")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
third.clear()
gd.set_with_dataframe(third, df4)

Concateall = gc.open("New_production_full").worksheet("inventory")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
Concateall.clear()
gd.set_with_dataframe(Concateall, result)

Concateall = gc.open("New_production_full").worksheet("dispatch")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
Concateall.clear()
gd.set_with_dataframe(Concateall, result2)

Concateall = gc.open("New_production_full").worksheet("PRM")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
Concateall.clear()
gd.set_with_dataframe(Concateall, result3)

Concateall = gc.open("New_production_full").worksheet("POM")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
Concateall.clear()
gd.set_with_dataframe(Concateall, result4)

Concateall = gc.open("New_production_full").worksheet("dispatch count")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
Concateall.clear()
gd.set_with_dataframe(Concateall, df_disptach)

Concateall = gc.open("New_production_full").worksheet("df_totalpo")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
Concateall.clear()
gd.set_with_dataframe(Concateall, df_totalpo)

Concateall = gc.open("New_production_full").worksheet("Manf_Dispatch")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
Concateall.clear()
gd.set_with_dataframe(Concateall, df_mr)

In [ ]:
prm_fw21=result3[result3['Season'].str.contains("FW21")== True ]
prm_fw21=prm_fw21[['Season','RM ID','Total Rating']]

In [ ]:
prm_fw21=prm_fw21.groupby(['Season','RM ID'])['Total Rating'].sum().reset_index()

In [ ]:
Concateall = gc.open("New_production_full").worksheet("RMchange")
#df_Concateall = gd.get_as_dataframe(Concateall)
#updated = df_Concateall.append(result)
Concateall.clear()
gd.set_with_dataframe(Concateall, prm_fw21)

In [ ]:
from google.colab import files

In [ ]:
f1=files.upload()

Saving rmchangelastweek (3).csv to rmchangelastweek (3).csv

In [ ]:
df_prm_lw= pd.read_csv(r'rmchangelastweek (3).csv')

In [ ]:
df_removed_RM_weekly= df_prm_lw.merge(prm_fw21, on = ['Season','RM ID'], how='left')
df_removed_RM_weekly.head(1)

         Season                    RM ID  Total Rating_x  Total Rating_y
0  FW21 // MAIN  F-10052-GREIGEECOLATINO       26678.824       26678.824

In [ ]:
df_new_RM_weekly= prm_fw21.merge(df_prm_lw, on = ['Season','RM ID'], how='left')
df_new_RM_weekly.head(1)

         Season                    RM ID  Total Rating_x  Total Rating_y
0  FW21 // MAIN  F-10052-GREIGEECOLATINO       26678.824       26678.824

In [ ]:
df_new_RM_weekly['New RM ID Added']= np.where(df_new_RM_weekly['Total Rating_y'].isnull(), 'Yes','No')
df_new_RM_weekly['New RM ID Added'].value_counts()

No    357
Name: New RM ID Added, dtype: int64

In [ ]:
df_removed_RM_weekly.isnull().sum()

Season            0
RM ID             0
Total Rating_x    0
Total Rating_y    0
dtype: int64

In [ ]:
df_removed_RM_weekly['Old RM ID Removed']= np.where(df_removed_RM_weekly['Total Rating_y'].isnull(), 'Yes','No')
df_removed_RM_weekly['Old RM ID Removed'].value_counts()

No    357
Name: Old RM ID Removed, dtype: int64

In [ ]:
df_new_RM_weekly=df_new_RM_weekly[df_new_RM_weekly['New RM ID Added']=="Yes"]
df_removed_RM_weekly=df_removed_RM_weekly[df_removed_RM_weekly['Old RM ID Removed']=="Yes"]

In [ ]:
#@title RM added last week
df_new_RM_weekly

Empty DataFrame
Columns: [Season, RM ID, Total Rating_x, Total Rating_y, New RM ID Added]
Index: []

In [ ]:
#@title RM removed last week
df_removed_RM_weekly

Empty DataFrame
Columns: [Season, RM ID, Total Rating_x, Total Rating_y, Old RM ID Removed]
Index: []

## Stop

In [ ]:

Breaking_BAD

NameError: ignored

## extra

In [ ]:
df4.head()

In [ ]:
y = df4.iloc[:, 3].values

In [ ]:
X = df4.iloc[:, 1:2].values
y = df4.iloc[:, 2:4].values

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()

In [ ]:
X = sc_y.fit_transform(y.reshape(-1,1))

In [ ]:
X = np.arange(0,100).reshape(-1,1)

In [ ]:
X.ndim

In [ ]:
X = df4.iloc[:,df4.columns !='weightage'].values

In [ ]:
train_df[train_df["target"] == 0]["text"].values[1]

In [ ]:
y = df4.iloc[:, df4.columns =='weightage']

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
X[0:5]

In [ ]:
X = X[:, 1:]

In [ ]:
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})

In [ ]:
#plot the actual and predictions

In [ ]:
df4 = df4.head(25)
df4.plot(x='trimsdone',kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [ ]:
#evaluation Metrics 
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
#evaluation Metrics
from sklearn import metrics
print('Accuracy Score:', metrics.accuracy_score(y_test, y_pred))
print('Balanced Accuracy Score:', metrics.balanced_accuracy_score(y_test, y_pred))
print('Average Precision:',metrics.average_precision_score(y_test, y_pred))

In [ ]:
import numpy as np
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

In [ ]:
new_data = np.array([66952.7,28,8770.1])
new_data=new_data.reshape(-1,3)
sc.fit_transform(new_data)

In [ ]:
#save the model in the disk
import pickle
# save the model to disk
filename = 'reg_model.sav'
pickle.dump(regressor, open(filename, 'wb'))
# load the model from disk
filename1 = 'reg_model.sav'
loaded_model = pickle.load(open(filename1, 'rb'))

In [ ]:
from sklearn.externals import joblib  
# Save the model as a pickle in a file 
joblib.dump(regressor, 'regressor.pkl') 
  
# Load the model from the file 
loaded_model2 = joblib.load('regressor.pkl')  
  
# Use the loaded model to make predictions 
loaded_model2.predict(X_test)

In [ ]:
df_1 = df.head(25)
df_1.plot(kind=bar,figsize=(16,10))
plt.grid(which=major, linestyle=-, linewidth=0.5', color=green)
plt.grid(which=minor, linestyle=:, linewidth=0.5', color=black)
plt.show()

In [ ]:
import pandas as pd
raw_data = {'age1': [23,45,210],'age2': [10,20,150],'name': ['a','b','c']}
df3 = pd.DataFrame(raw_data, columns = ['age1','age2','name'])

raw_data = {'age1': [80,90,110],'age2': [70,120,90],'name': ['a','b','c']}
df2 = pd.DataFrame(raw_data, columns = ['age1','age2','name'])

In [ ]:
col_list=['age1','age2']
df_list=[df3,df2]

In [ ]:
for d in df_list:
  for c in col_list:
    d[c]=np.where(d[c]>100,d[c],'failed')

In [ ]:
for x in df_list:
  x=x[x['age1']==23]

In [ ]:
for d in df_list:
  d.age1==23

In [ ]:
df3

In [ ]:
df3= df3.dropna(axis=0,subset=['age1'],how='all',)

In [ ]:
df3.info()

In [ ]:
for x in df_list:
  x.dropna(inplace=True,axis=0,subset=[col_list])

In [ ]:
df[col_list]=np.where(df[col_list]>100,'dead',df[col_list])

In [ ]:
df2

In [ ]:
col_list=['age1','age2']
df_list=[df,df2]

In [ ]:
for d in df_list:
  for c in col_list_contains_passed:
    d[c]=np.where(df[c]=='Passed','Ok','Failed')

In [ ]:
for d in df_list:
  for c in col_list:
    d[c]=np.where(d[c]>100,'dead',df[c])

In [ ]:
for d in df_list:
  for c in col_list:
    d[c]=np.where(d[c]>100,'dead',df[c])

In [ ]:
df

In [ ]:
for

In [ ]:
df

In [ ]:
col_list=['age1','age2']

In [ ]:
df['age1']=df[df['age1']==23]

In [ ]:
df

In [ ]:
#cols = df.filter(like='age').columns

df[col_list] = df[col_list].apply(lambda x: np.where(x > 100 ,'dead', x))

In [ ]:
df

In [ ]:
raw_data = {'age1': [80,90,'dead'],'age2': [70,'dead',90],'name': ['a','b','c']}
df2 = pd.DataFrame(raw_data, columns = ['age1','age2','name'])
df2

In [ ]:
raw_data = {'age1': [23,45,'dead'],'age2': [10,20,'dead'],'name': ['a','b','c']}
df = pd.DataFrame(raw_data, columns = ['age1','age2','name'])
df

In [ ]:
def dead(df):
    col_list = ['age1', 'age2']
    df = df.copy()
    temporary = df.filter(col_list)
    temporary = temporary.mask(temporary >= 100, "dead")
    df.loc[:, col_list] = temporary
    return df

In [ ]:
col_list=['age1','age2']
df_list=[df,df2]

for d in df_list:
    for c in col_list:
        d.loc[d[c]>100, c] = 'dead'

In [ ]:
import pandas as pd
import numpy as np
raw_data = {'age1': [23,45,210],'age2': [10,20,150],'name': ['a','b','c']}
df = pd.DataFrame(raw_data, columns = ['age1','age2','name'])

raw_data = {'age1': [80,90,110],'age2': [70,120,90],'name': ['a','b','c']}
df2 = pd.DataFrame(raw_data, columns = ['age1','age2','name'])

col_list=['age1','age2']
df_list=[df,df2]

def dead(df_list, col_list):
    for df in df_list:
        for col in col_list:
            df[col] = np.where(df[col] >= 100, "dead", df[col])
    return df_list


df

dead([df], col_list)

In [ ]:
df2

In [ ]:
df_list.apply(dead)

In [ ]:
c=df.filter(like='age').columns

In [ ]:
cols = df.filter(like='age').columns

df[cols] = df[cols].apply(lambda x: np.where(x > 100 ,'dead', x))

In [ ]:
df

In [ ]:
col_list=['age1','age2']
df_list=[df,df2]

for d in df_list:
    for c in col_list:
        d.loc[d[c]>100, c] = 'dead'

In [ ]:
import numpy as np
c = df.filter(regex='age\d+').columns
df[c] = np.where(df[c].ge(100),'dead',df[c])
df

In [ ]:
col_list=['age1','age2']

In [ ]:
df_list=[df,df2]

In [ ]:
def dead(df):
  for df in df_list:
    if df.columns in col_list:
      if df.columns >=100:
        return 'dead'
    else:
      return df.columns

In [ ]:
df.apply(dead)

In [ ]:
gen = (x for x in df_list if x in col_list)

for x in gen:
    print(x)

In [ ]:
def fun(x):
  if x['age1']==23:
    return x+3
  elif x['age2']==10: 
    return x+2
  else: return 0

In [ ]:
def f(x):
  if x['gender'] == 'male' and x['pet1'] == x['pet2']: return 5
  elif x['gender'] == 'female' and (x['pet1'] == 'cat' or x['pet1'] == 'dog'): return 5
  else: return 0

data['points'] = data.apply(f, axis=1)

In [ ]:
df.columns

In [ ]:
def fun(num):
  
    if num<200:
        return "Low"
  
    elif num>= 200 and num<400:
        return "Normal"
  
    else:
        return "High"

In [ ]:
for x in df.columns:
  print(df[x].unique())

In [ ]:
def fun(x):
  return x*x
df.apply(fun)

In [ ]:
def fun(x):
  for x in df.columns:
    print(df[x].unique())
    print('----')
df.apply(fun)

In [ ]:
df

In [ ]:
for x in df.columns:
  print(df[x].unique())

In [ ]:
def fun(x):
  for x in df.columns:
    return df[x].unique()

In [ ]:
df.apply(fun)

In [ ]:
for x in df.columns

In [ ]:
[df[x].unique() for x in df.columns]

In [ ]:
#finding the unique values in each column (type object)
for col in df.columns:
    print('We have {} unique values in {} column : {}'.format(len(df[col].unique()),col,df[col].unique()))
    print('__'*30)

In [ ]:
for col in df.columns:
  print('in', col,' we have', df[col].unique())
  print('__'*10)

In [ ]:
def double(x):

  return x+x

In [ ]:
df.apply(double)

In [ ]:
df.apply(lambda x: x+x)

In [ ]:
df['new']=df.age2.apply(lambda x:[x+x for x in df.age2 if])

In [ ]:
df

In [ ]:
def my_fun(df):
  if df['age1']>df['age2']:
    return df['age1']-df['age2']
  else:
    print('less')

In [ ]:
import numpy as np
condition=[df['age1']>df['age2']]
choice=[df['age1']-df['age2']]
df['diff']=np.select(condition,choice,default=0)
df

In [ ]:
df = pd.DataFrame({'A': [1,1,1,1,0], 
                   'B': [9,8,3,2,2],
                   'C': [3,3,3,10,3],
                   'E': [4,4,4,4,4],
                   'F': [5,5,5,5,5]})
df

In [ ]:
df = pd.DataFrame({'A': [1,1,1,1,0], 
                   'B': [9,8,3,2,2],
                   'C': [3,3,3,10,3],
                   'E': [4,4,4,4,4],
                   'F': [5,5,5,5,5]})

df['x'] = df.apply(lambda a: [a[i:i+2] for i in range(len(a)-2) if sum(a[i:i+2]) >= 10], axis=1)

#Note the axis parameters tells if you want to apply this function by rows or by columns, axis = 1 applies the function to each row.

In [ ]:
df

In [ ]:
df.apply(lambda x:[x+x for x in df ])

In [ ]:
def my_fun(x, var1, var2, var3):
    
    if (x[var1]-x[var2])>0 :
        x[var3]=x[var1]-x[var2]
    else:
        x[var3]=0
    return x    

df.apply(lambda x: my_fun(x, 'age1', 'age2','diff'), axis=1)

In [ ]:
df

In [ ]:
def get_status(df):
    if df['TIME_1'] == df['TIME_MIN']:
        return df['STATUS_1']
    elif df['TIME_2'] == df['TIME_MIN']:
        return df['STATUS_2']
    elif df['TIME_3'] == df['TIME_MIN']:
        return df['STATUS_3']
    elif df['TIME_4'] == df['TIME_MIN']:
        return df['STATUS_4']
    else:
        return df['STATUS_5']

df['STATUS'] = df.apply(get_status, axis = 1)

In [ ]:
def status(df4):
  if df4['Style'].str.contains('C')==True:
    return df4['weightage']
  elif df4['Style'].str.contains('A')==True:
    return df4['new']
  else:
    return df4['trimsdone']

df4['status']=df4.apply(status,axis=1)

In [ ]:
#df.value.str[:3]+'10'+df.value.str[5:]

In [ ]:
#df4['Style'].str[:3]

In [ ]:
#cond = [df4['Style'].str[3:5] == '3F']
#choice= [df4['Style'].str[:3]+'--'+df4['Style'].str[5:]]
#df4['Sty']= np.select(cond,choice,default=df4['Style'])
#df4

In [ ]:
list=['Trims']

In [ ]:
[x for x in df4['new'] if x not in list]

In [ ]:
my_list=[x for x in empty_list if x not in stopwords]

In [ ]:
for i, r in df4.iterrows():
  print(i,r[0])

In [ ]:
df = pd.DataFrame([[100,200,150,400,500,'a','b','a','c','a',100], [300,400,200,500,250,'b','b','c','c','c',200]], columns=['TIME_1', 'TIME_2', 'TIME_3', 'TIME_4', 'TIME_5','STATUS_1','STATUS_2','STATUS_3','STATUS_4','STATUS_5','TIME_MIN'])

In [ ]:
def get_status(df):
    if df['TIME_1'] == df['TIME_MIN']:
        return df['STATUS_1']
    elif df['TIME_2'] == df['TIME_MIN']:
        return df['STATUS_2']
    elif df['TIME_3'] == df['TIME_MIN']:
        return df['STATUS_3']
    elif df['TIME_4'] == df['TIME_MIN']:
        return df['STATUS_4']
    else:
        return df['STATUS_5']

df['STATUS'] = df.apply(get_status, axis = 1)

In [ ]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = le.fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = le.fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

    def inverse_transform(self, X):
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = le.inverse_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = le.inverse_transform(col)
        return output

    def fit_inv_transform(self,X,y=None):
        return self.fit(X,y).inverse_transform(X)

In [ ]:
df4.head()

In [ ]:
def foo():
  for col in df4.columns:
    if df4[col].dtype == object:
      return df4[col].apply(le.fit_transform)

In [ ]:
df4.apply(foo)

In [ ]:
for col in df4.columns:
  if df4[col].dtype == str: # Although, you see the dtype `object` but `str` is also fine 
  return df4[col].apply(le.fit_transform)

In [ ]:
dff=MultiColumnLabelEncoder(columns = ['new','Style','Qty status','trimsdone']).fit_transform(df4)

In [ ]:
MultiColumnLabelEncoder(columns = ['new','Style','Qty status','trimsdone']).fit_inv_transform(dff)

In [ ]:
#df4.apply(le.inverse_transform)

In [ ]:
class MultiColumnLabelEncoder:

    def __init__(self, columns=None):
        self.columns = columns # array of column names to encode


    def fit(self, X, y=None):
        self.encoders = {}
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            self.encoders[col] = le.fit(X[col])
        return self


    def transform(self, X):
        output = X.copy()
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            output[col] = self.encoders[col].transform(X[col])
        return output


    def fit_transform(self, X, y=None):
        return self.fit(X,y).transform(X)


    def inverse_transform(self, X):
        output = X.copy()
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            output[col] = self.encoders[col].inverse_transform(X[col])
        return output

In [ ]:
multi = MultiColumnLabelEncoder(columns=['Style','Qty status'])

In [ ]:
X = multi.fit_transform(df4)

In [ ]:
X.head()

In [ ]:
inv = multi.inverse_transform(X)

In [ ]:
a.head()

In [ ]:
X.apply(le.inverse_transform)

In [ ]:
text = "word1anotherword23nextone456lastone333"
numbers = [x for x in text if x.isdigit()==True]
print(''.join(numbers))

In [ ]:
y = []
for x in (f(i) for i in range(5)):
    for a in x:
        y.append(a)

In [ ]:
for col in train.columns:
  if train[col].dtype == 'object':
    le = LabelEncoder()
    le.fit(list(train[col].astype(str).values)+list(test[col].astype(str).values))
    train[col] = le.transform(list(train[col].astype(str).values))
    test[col] = le.transform(list(train[col].astype(str).values))

In [ ]:
df=df.groupby(['Style','Qty status'])['Qty status'].count().rename('weight').groupby(level=0).transform(lambda x:x/x.sum())

In [ ]:
df=df.reset_index()
df['weight']=df['weight']*100

In [ ]:
df=df[['Style','Qty status','weight']]

In [ ]:
df.head()

In [ ]:
X = df[['Style','Qty status']].values
y = df[['weight']].values

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
ct = ColumnTransformer([("Qty status", OneHotEncoder(), [1]),("Style", OneHotEncoder(), [1])], remainder = 'passthrough')
X = ct.fit_transform(X)
X = X[:, 2:]

In [ ]:
X