<a href="https://colab.research.google.com/github/vishvas-chauhan/First_Repository/blob/master/Oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class employee:

  empcount=0
  def __init__(self,name,salary):
    self.name = name
    self.salary =salary
    employee.empcount +=1
  def displaycount(self):
    print (employee.empcount)
  def displayemployee(self):
    print(self.name,self.salary)

In [ ]:
emp1 = employee("Zara", 2000)
emp2 = employee("Manni", 5000)

In [ ]:
employee.empcount

4

In [ ]:
class vector:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def __str__(self):
    return '(%d, %d)'% (self.a, self.b)
  def __add__(self,other):
    return vector(self.a+other.a, self.b+other.b)
v1=vector(2,5)
v2=vector(5,6)
print(v1+v2)

(7, 11)

In [ ]:
class vehicle:
  def __init__(self,name,model,max_speed):
    self.name=name
    self.model=model
    self.max_speed=max_speed
  
  def carrying_capacity(self,capacity):
    return f"The cc of the {self.name} is {capacity}"

class bus(vehicle):
  def carrying_capacity(self,capacity=50):
    return super().carrying_capacity(capacity=50)
schoolbus = bus('bmw',2010,'200KM/h')
schoolbus.carrying_capacity()

'The cc of the bmw is 50'

In [ ]:
import pandas as pd

In [ ]:
pd

In [ ]:
class vehicle:
  def __init__(self,max_speed,milage):
    self.max_speed= max_speed
    self.milage=milage

bus=vehicle(200,25)
bus.max_speed,bus.milage

(200, 25)

In [ ]:
class vcle:
  pass

In [ ]:
class vehicle:
  def __init__(self,name,model):
    self.name=name
    self.model=model

class bus(vehicle):
  pass

school_bus= bus("ashok",2015)
school_bus.name, school_bus.model

('ashok', 2015)

In [ ]:
class vehicle:
  color='White'
  def __init__(self,name,model):
    self.name=name
    self.model=model
  
  def seating_capacity(self,capacity):
    return f"the capacity of {self.name} is {capacity}"
  
class bus(vehicle):
  def seating_capacity(self,capacity=50):
    return super().seating_capacity(capacity)

schoolbus= bus('ashoka',2018)
/*-*/7410.
.print(schoolbus.color, schoolbus.name," has ", schoolbus.seating_capacity())

White ashoka  has  the capacity of ashoka is 50

In [ ]:
class vehicle:
  def __init__(self,seating_capacity):
    self.seating_capacity=seating_capacity

  def fare(self):
    return self.seating_capacity*100

class bus(vehicle):
  
  def fare(self):
    fare= super().fare()
    total_fare= fare+fare*0.1
    return total_fare

school_bus= bus(50)
school_bus.fare()

5500.0

In [ ]:
class vehicle:
  colot= 'white'
  def __init__(self,name):
    self.name= name

class bus(vehicle):
  pass

school_bus= bus('gopal')
isinstance(school_bus,vehicle)

True

In [ ]:
#while loop

In [ ]:
num = 1
while num <=10:#there should be a condition for breaking
  print(num)
  num = num+ 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
print('second number pattern')

for row in range(1,6):
  for column in range(1,row+1):
    print(column,end="")
  print("")

second number pattern
1
12
123
1234
12345

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [ ]:
[n for n in list1 if n <=150 and n%5 ==0]

[15, 55, 75, 150]

In [ ]:
for row in range(1,6):
  print(row)

1
2
3
4
5

In [ ]:
#function
def fun(name,age):
  print(name,age)

In [ ]:
fun('kallu',30)

kallu 30

In [ ]:
def func1(*args):
  for i in args:
    print(i)

In [ ]:
func1(20,30)
func1(20,40)

20
30
20
40

In [ ]:
#Exercise 3: Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. And also it must return both addition and subtraction in a single return call

In [ ]:
def calculation(a,b):
  return a+b,a-b
  
dsz = calculation(40,10)
print(dsz)

(50, 30)

In [ ]:
def showemployee(name,salary):
  for n in salary:
    if salary =='':
      return 9000
    else:
      return name,salary
showemployee("vis",'no')

('vis', 'no')

In [ ]:
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)

showEmployee("Ben", 9000)
showEmployee("Ben")

Employee Ben salary is: 9000
Employee Ben salary is: 9000

In [ ]:
def outerfun(a, b):
  square =a**2
  def innerfun(a,b):
    return a+b
  add= innerfun(a,b)
  return add+5

outerfun(2,3)

10

In [ ]:
def calculateSum(num):
    if num:
        return num + calculateSum(num-1)
    else:
        return 0

res = calculateSum(3)
print(res)

6

In [ ]:
def displayStudent(name, age):
    print(name, age)

displayStudent("Emma", 26)

In [ ]:
class cal:
  def __init__(self,num1,num2):
    self.num1=num1
    self.num2=num2
  def addition(self):
    return self.num1+self.num2
  def sub(self):
    return self.num1-self.num2

test= cal(40,10)
test.addition()

50

In [ ]:
class Vehicle:
    # Class attribute
    color = "White"

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass

class Car(Vehicle):
    pass

School_bus = Bus("School Volvo", 180, 12)
print(School_bus.color, School_bus.name, "Speed:", School_bus.max_speed, "Mileage:", School_bus.mileage)

car = Car("Audi Q5", 240, 18)
print(car.color, car.name, "Speed:", car.max_speed, "Mileage:", car.mileage)

White School Volvo Speed: 180 Mileage: 12
White Audi Q5 Speed: 240 Mileage: 18

In [ ]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5000

In [ ]:
class vehicle:
  def __init__(self,name,milage,capacity):
    self.name = name
    self.milage=milage
    self.capacity=capacity
  
  def fare(self):
    return self.capacity * 100

class bus(vehicle):
  def fare(self):
    amount = super().fare()
    amount = amount + amount*0.1
    return amount

schoolbus=bus("School Volvo", 12, 50)
print(print("Total Bus fare is:", schoolbus.fare()))

Total Bus fare is: 5500.0
None

In [ ]:
import pandas as pd

In [ ]:
text = ["Come whenever you can. I just need more details from you about why you don't take it extra dispatch and how it is linked with the beginning of the season. It means the rest of the fabric would be used in the future. If yes, then please share the production requirements."]

In [ ]:
class person:
  def __init__(self,name,age):
    self.name =  name
    self.age = age

In [ ]:
#first class function:
class person:
  def __init__(self,name, age):
    self.name = name
    self.age =  age
customer= person('lolu',27)
customer.name,customer.age

('lolu', 27)

In [ ]:
author = person('marium',27)

In [ ]:
author.name

'marium'

In [ ]:
class person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def introductyouself(self):
    print("My name is" +" "+ self.name)
    print("My age is" + " "+str(self.age))

In [ ]:
author=person('marium',28)

In [ ]:
author.introductyouself()

My name is marium
My age is 28

In [ ]:
#inheritance

In [ ]:
class person:
  def __init__(self, name , age):
    self.name = name
    self.age = age
  def introduceyourself(self):
    print("my name is "+ self.name)
    print("my age is "+ str(self.name))
  def stateprofession(self,age):
    print("I am not a teacher")

In [ ]:
class teacher(person):
  def stateprofession(self):
    print("I am a teacher")

In [ ]:
author = person('marium', 30)

In [ ]:
author.stateprofession(30)

I am not a teacher

In [ ]:
class teacher(person):
  def __init__(self,name,age):
    self.courses =[]
    super().__init__(name,age)
  
  def stateprofession(self):
    print (" i am a teacher")

In [ ]:
author= person('marium',20)

In [ ]:
author.stateprofession()

AttributeError: ignored

In [ ]:
class Tweet:
    def __init__(self, message, time):
        self.message = message
        self.time = time # we will assume here that time is a numerical value
        
    def __lt__(self, other):
        return self.time < other.time
        
    def __gt__(self, other):
        return self.time > other.time    
    

oldtweet = Tweet("this is an old tweet",20)
newtweet = Tweet("this is a new tweet",1000)
print(newtweet > oldtweet)

True

In [ ]:
#use sorted function
tweets = [newtweet,oldtweet]

for tweet in sorted(tweets):
  print(tweet.time)

20
1000

In [ ]:
fruits =[ 'banana', 'orange', 'apple']
print('banana' in fruits)

True

In [ ]:
#overaloading can be done by __contains__ method

In [ ]:
class Tweet:
    def __init__(self, message, time):
        self.message = message
        self.time = time

    def __lt__(self, other):
        return self.time < other.time
        
    def __contains__(self, word):
        #Implement the method

tweet = Tweet("I just flushed my toilet",20)
#now write code to check if the word "flushed" is in the tweet
#and print something nice if that's the case

IndentationError: ignored

In [ ]:
class person:
  def __init__(self,name,gender,yob):
    self.name = name
    self.gender = gender
    self.yob = yob
  
  def age(self,current_year):
    return current_year-self.yob

In [ ]:
class employee(person):
  def __init__(self,name, gender, yob, dept, join_year):
    super().__init__(name, gender, yob)
    self.dept= dept
    self.join_year= join_year 
    self.retire_age = 60
  
  def service_remain(self,currenty_year):
    return self.retire_age-super().age(currenty_year)

In [ ]:
emp = employee('joh', 'male', 1980, 'HR',2010)

In [ ]:
emp.service_remain(2021)

In [ ]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = le.fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = le.fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

    def inverse_transform(self, X):
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = le.inverse_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = le.inverse_transform(col)
        return output

    def fit_inv_transform(self,X,y=None):
        return self.fit(X,y).inverse_transform(X)

In [ ]:
class TokenizerWrap(Tokenizer):
    """Wrap the Tokenizer-class from Keras with more functionality."""
    
    def __init__(self, texts, padding,
                 reverse=False, num_words=None):
        """
        :param texts: List of strings. This is the data-set.
        :param padding: Either 'post' or 'pre' padding.
        :param reverse: Boolean whether to reverse token-lists.
        :param num_words: Max number of words to use.
        """

        Tokenizer.__init__(self, num_words=num_words)

        # Create the vocabulary from the texts.
        self.fit_on_texts(texts)

        # Create inverse lookup from integer-tokens to words.
        self.index_to_word = dict(zip(self.word_index.values(),
                                      self.word_index.keys()))

        # Convert all texts to lists of integer-tokens.
        # Note that the sequences may have different lengths.
        self.tokens = self.texts_to_sequences(texts)

        if reverse:
            # Reverse the token-sequences.
            self.tokens = [list(reversed(x)) for x in self.tokens]
        
            # Sequences that are too long should now be truncated
            # at the beginning, which corresponds to the end of
            # the original sequences.
            truncating = 'pre'
        else:
            # Sequences that are too long should be truncated
            # at the end.
            truncating = 'post'

        # The number of integer-tokens in each sequence.
        self.num_tokens = [len(x) for x in self.tokens]

        # Max number of tokens to use in all sequences.
        # We will pad / truncate all sequences to this length.
        # This is a compromise so we save a lot of memory and
        # only have to truncate maybe 5% of all the sequences.
        self.max_tokens = np.mean(self.num_tokens) \
                          + 2 * np.std(self.num_tokens)
        self.max_tokens = int(self.max_tokens)

        # Pad / truncate all token-sequences to the given length.
        # This creates a 2-dim numpy matrix that is easier to use.
        self.tokens_padded = pad_sequences(self.tokens,
                                           maxlen=self.max_tokens,
                                           padding=padding,
                                           truncating=truncating)

    def token_to_word(self, token):
        """Lookup a single word from an integer-token."""

        word = " " if token == 0 else self.index_to_word[token]
        return word 

    def tokens_to_string(self, tokens):
        """Convert a list of integer-tokens to a string."""

        # Create a list of the individual words.
        words = [self.index_to_word[token]
                 for token in tokens
                 if token != 0]
        
        # Concatenate the words to a single string
        # with space between all the words.
        text = " ".join(words)

        return text
    
    def text_to_tokens(self, text, reverse=False, padding=False):
        """
        Convert a single text-string to tokens with optional
        reversal and padding.
        """

        # Convert to tokens. Note that we assume there is only
        # a single text-string so we wrap it in a list.
        tokens = self.texts_to_sequences([text])
        tokens = np.array(tokens)

        if reverse:
            # Reverse the tokens.
            tokens = np.flip(tokens, axis=1)

            # Sequences that are too long should now be truncated
            # at the beginning, which corresponds to the end of
            # the original sequences.
            truncating = 'pre'
        else:
            # Sequences that are too long should be truncated
            # at the end.
            truncating = 'post'

        if padding:
            # Pad and truncate sequences to the given length.
            tokens = pad_sequences(tokens,
                                   maxlen=self.max_tokens,
                                   padding='pre',
                                   truncating=truncating)

        return tokens

In [ ]:
import urllib

link = "http://www.somesite.com/details.pl?urn=2344"
f = urllib.urlopen(link)
myfile = f.read()
print(myfile)